<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cousin.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @cousin.gender %>
</p>

<p>
  <strong>Married:</strong>
  <%= @cousin.married %>
</p>

<p>
  <strong>Mum:</strong>
  <%= @cousin.mum_id %>
</p>

<%= link_to 'Edit', edit_mum_cousin_path(@mum,@cousin) %> |
<%= link_to 'Delete', mum_cousin_path(@mum,@cousin) %> |
<%= link_to 'Back', mum_cousins_path(@mum) %>
